<h2>Button Options</h2>
<div class="property-control"><label>Background</label><div class="control-field"><input type="color" value="#F7941D" /></div></div>
<div class="property-control"><label>Color</label><div class="control-field"><input type="color" value="#000" disabled="disabled" /></div></div>
<div class="property-control"><label>Font Style</label><div class="control-field"><select><option>Open Sans</option><option>Roboto</option><option>Arial</option></select><select><option>Regular</option><option>Italic</option><option>Bold</option><option>Underline</option></select><select><option>11</option><option>12</option><option>13</option></select></div></div>
<div class="property-control property-four-coloum"><label>Width</label><div class="control-field"><input type="text" /></div> <label>Height</label><div class="control-field"><input type="text" /></div></div>
<div class="property-control"><label>Opacity</label><div class="control-field"><input type="range" min="0" max="10" /></div></div>
<div class="property-control"><label>State</label><div class="control-field"><select><option>Normal</option><option>Focus</option><option>Disabled</option></select></div></div>
<div class="property-control"><label>Value</label><div class="control-field"><textarea></textarea></div></div>
