<div init-screen class="homeDialogContainer">
	<div class="homeDialogTitle">Create your mockups</div>
	<div class="homeDialogRow">
		<div class="homeDialogTxt">Name</div>
		<div class="homeDialogField"><input type="text" class="homeFields" value="Untitled-1"></div>
	</div>
	<div class="homeDialogRow">
		<div class="homeDialogTxt">Width</div>
		<div class="homeDialogField"><input type="text" class="homeFields" id="width" value="500"></div>
	</div>
	<div class="homeDialogRow">
		<div class="homeDialogTxt">Height</div>
		<div class="homeDialogField"><input type="text" class="homeFields" id="height" value="500"></div>
	</div>
	<div class="homeDialogRow">
        <div class="homeDialogBtnPrimary">Create New</div>
        <div class="homeDialogOr">OR</div>
        <div class="homeDialogBtnSecondary">Open Existing Mockup</div>
    </div>
</div>