<h2>Document Options</h2>
<div class="property-control"><label>Background</label><div class="control-field"><input type="color" value="#ffffff" /></div></div>
<div class="property-control property-four-coloum"><label>Width</label><div class="control-field"><input type="text" /></div> <label>Height</label><div class="control-field"><input type="text" /></div></div>
<div class="property-control"><label>Layout</label><div class="control-field"><select><option>Mobile</option><option>Laptop</option><option>Desktop</option></select></div></div>
